.request-box-video-widget.align-box-video-widget .get-call-section-video-widget {
    position: absolute;
    right: 650px;
    top: 88px;
    z-index: 99999;
    width: 45px;
    top: 50px;
}
.request-box-video-widget.align-box-video-widget {
    position: fixed;
    right: -653px;
    top: 162px;
    z-index: 9999;
    transition: right 0.5s ease-out 0s;
}
.request-box-video-widget.align-box-video-widget.align1-video-widget {
    right: 0;
    transition: right 0.5s ease-out 0s;
    z-index: 99999;
    text-align: center;
}
.request-box-video-widget.align-box-video-widget.request-box-video-widget-video-not-found .get-call-section-video-widget {
    top: 50px;
    right: 660px;
}
.request-box-video-widget.align-box-video-widget.request-box-video-widget-video-not-found.align1-video-widget .get-call-section-video-widget {
    top: 50px;
    right: 660px;
}
.request-box-video-widget.align-box-video-widget.align1-video-widget .get-call-section-video-widget {
    right: 660px;
    top: 50px;
}