@media screen and (max-width: 768px) {
    .request-box-video-widget.align-box-video-widget {
        top: 53px;
    }
}
.request-box-video-widget.align-box-video-widget .get-call-section-video-widget #getcall_slide_video_widget {
    cursor: pointer;
    display: block;
    float: left;
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget {
    background: #ffffff;
    padding: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 0 20px 20px 0;
    width: 650px;
    position: relative;
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget {
    overflow: auto;
    padding: 20px;
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-click-to-call-hdfc-logo-video-widget {
    position: absolute;
    width: 139px;
    left: 0px;
    top: 14px;
}
@media screen and (max-width: 480px) {
    .request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-click-to-call-hdfc-logo-video-widget {
        position: static;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 500px;
    }
}
@media screen and (max-width: 580px) {
    .request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 420px;
    }
}
@media screen and (max-width: 460px) {
    .request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 320px;
    }
}
@media screen and (max-width: 360px) {
    .request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 280px;
    }
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .closebtn-video-widget {
    display: block;
    position: absolute;
    right: 10px;
    top: 14px;
    cursor: pointer;
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .closebtn-video-widget img {
    width: 25px;
}
.request-box-video-widget.align-box-video-widget .request-box-inner-video-widget .co-full-video-widget .otp-sub-title-video-widget {
    margin: 0 0 15px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e0dede;
    text-align: center;
    font-size: 20px;
    color: #be021d;
    width: 100%;
    float: right;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: bold;
}
.request-box-video-widget.align-box-video-widget.request-box-video-widget-video-not-found {
    top: 162px;
    text-align: center;
}
.request-box-video-widget.align-box-video-widget.request-box-video-widget-video-not-found .request-box-inner-video-widget .co-full-video-widget {
    padding: 20px;
}
.request-box-video-widget.align-box-video-widget.request-box-video-widget-video-not-found.align1-video-widget {
    top: 162px;
}
@media screen and (max-width: 700px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .get-call-section-video-widget {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget {
        width: 100%;
        min-width: 300px;
    }
}
.request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget {
    /*width: 100%;*/
    overflow: auto;
    padding: 20px;
}
@media screen and (max-width: 700px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget {
        padding: 10px 20px;
    }
}
@media screen and (max-width: 480px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget {
        min-width: 310px;
    }
}
.request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
    width: 100%;
}
@media screen and (max-width: 700px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 500px;
    }
}
@media screen and (max-width: 580px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 420px;
    }
}
@media screen and (max-width: 460px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 320px;
    }
}
@media screen and (max-width: 360px) {
    .request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget .hdfc-video-widget-wrapper video {
        width: 280px;
    }
}
.request-box-video-widget.align-box-video-widget.align1-video-widget .request-box-inner-video-widget .co-full-video-widget #hdfc-video-view-count {
    float: right;
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3f;
}
@media screen and (max-width: 1064px) {
    .mobileHelp-section-video-widget {
        top: 45% !important;
    }
}
